@media all and (min-width: 768px) and (max-width: 962px) {
    .container {
        flex-wrap: wrap;
    }
    .left {
        flex-basis: 20%;

    }
    .niebieski  {
        flex-basis: 70%;
    }
    .right {

        flex-basis: 100%;
    }

}

@media all and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }
    .left {
        
        flex-basis: 100%;

    }
    .niebieski {
        flex-basis: 100%;
    }

    .right {
        flex-basis: 100%;

    }
}
