/* selektor znacznika  */

p {
    
    color: gray;


}

/* selektor klasy */

.list-item {
    color: red;
}

/* selectr id  */

#about {    
    background-color: pink }

    /* /selektory potomstwa  */

    #about p {
color: greenyellow;

    }
#about > p {
    color: blue;
}

/* selektory rodzeństwa  */

.first + li {
color: orange;

}

.item ~ li { 
color: peru;

}


/* selektor uniwersalny - uzywamy do boxsizinig*/

*{

    font-size: 1.5em;
}


/* selektor łaczony */

ul.list {background-color: yellow;}

/* /ponizej Wszystkie znaczniki a z klasą link, które są elementami potomnymi paragrafów (bez względu na poziom zagnieżdżenia). A paragrafy są bezpośrednimi elementami potomnymi elementów, które mają równocześnie klasę item i klasę first-item*/

.item.first-item > p a.link {color: tomato;}

