p {
color: red;
font-size: 1.2em;

}
/* dla przedzialu do 992 wez to ponizej ,reszta gora */
@media (max-width: 992px) {
    p {
        color: green;
    }}

    /* tutaj strona mniej wiecej 
    z szerokosciami https://getbootstrap.com/docs/4.4/layout/overview/ */
/* najczesniej sie tutaj to wszytsko do szerokosci */
    
@media (min-width: 992px) {
p {
background-color: pink;

}
}

@media print {
p {

color: orange

}


}
