/* .container {
    height: 300px; */


/* } */

.foto {
    width: 300px;
    position: relative;
    
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.foto img:last-of-type{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s;

}

.foto:hover img:last-of-type{
    opacity: 1;

}

