* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container h1 {
    color: #007bff;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 48px;
}

span {
    color: #007bff;

}

p   {
    color: #333;
    text-transform: uppercase;
    font-size: 24px;
}

hr {
    border: 0;
    background-color: #007bff;
    height: 2px;
    width: 50px;
    
}
.btn {
    text-decoration: none;
    color: #333;
    border: 1px solid #007bff;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
    font-size: 18px;
    transition: 0.4s;
    text-transform: uppercase;

    
}

.btn:hover {
    background-color: blue;
    color: white;
    border: 1px solid white;
    

}

header {
    background-image: url("../img/header.jpg");
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
  
}




nav {
    background-color:#007bff;
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 99999999;
   
}

li {
    display: inline-block;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    transition: all .5s;
    border-radius: 15%;
    font-size: 30px;
}

li a:hover {
    background-color: white;
    color: #007bff;
    
}

section {
    text-align: center;


}


h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 70px;
    font-size: 24px;

}

#about img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}
#about p {
    font-size: 12px;
    padding: 20px;

}

.about {
    font-size: 12px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    
}

figure img {
    width: 100%;
    height: 100%;
    /* dla ustalenia scalowania wewnatrz obrazka */
    object-fit: cover;
}

figure {
    flex-basis: 25%;
    margin: 0;
    position: relative;
    /* alternatywne wyjscie */
    /* height: 200px;
    line-height: 200px; */
    
    

}

figure:hover figcaption {
    opacity: 1;
    
}


figcaption {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(63, 114, 168, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    color: white;
    font-size: 40px;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: unset;
    
}

form  {
    
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    width: 50%;

    
  }

input[type="text"], input[type="email"]  {
    
    flex-basis: 49%;
    
          
}

textarea {
    margin-top: 10px;
    flex-basis: 100%;
}

input[type="submit"] {
    margin: 10px auto;
    

}



.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 10px 2px;
  }
  
.fa:hover {
    opacity: 0.7;
}

footer {

    background-color: grey;
}

footer P{
    font-size: 10px;
    text-align: center;
  
}








