@media (max-width:992px) {
    .obrazek2 {
        display: none;
               
    }

    img {
        max-width: 100%;
        height: auto;
        position: relative;
    }

    h1 {
        color: red;
        position: absolute;
        margin: 0 auto;
        z-index: 1;
        text-align: center;
        bottom: 50%;
        left:20%;
        font-size: 20px;
               
    }

}

@media (min-width:992px) and (max-width:1170px) {
    .obrazek1 {
        display: none

    }

    img {
        max-width: 100%;
        height: auto;
        position: relative;
    }

    h1 {
        color: white;
        position: absolute;
        margin: 0 auto;
        z-index: 1;
        text-align: center;
        top: 20%;
        left: 70%;
        font-size: 20px;

}

}


@media (min-width:1171px) {
    .obrazek2 {
        display: none;
               
    }
    .obrazek2 {

        position: relative;
    }

    h1 {
        position: absolute;
        left: 3%;
        top: 60%;
    }

}