h1 {
    /* z-index: 2; */
    font-family: sans-serif;
    text-transform: uppercase;
    margin: auto;
    color: white;
   
    /* top: 40%;
    left: 10%;
    transform: translate(-50%, -50%); */


}




