* {
    box-sizing: border-box;
    }
    .overflow {
        border: 1px dashed #000000; 
        height: 100px;
        width: 200px;
        overflow: scroll; 
        /* tutaj z dwoch stron, ten co jest potrzebny */
        /* overflow auto - z jednej strony */
        overflow: hidden;
    }