
.position {
    position: relative;

}


.position div {
    height: 200px;
}
.orange {
    background-color: orange;
    /* position: relative; */
    position: absolute;
    top: 100px;
    left: 50px;
    width: 100px;
    height:200px;
}
.grey {
    background-color: grey;

}


#main-nav {
    position: sticky;    
    width: 100%;    
    left: 0px;   
    top: 0px;
    background-color: green;

}
